<h1>Vendor Details: </h1>

<h2>Vendor name: @Model.VendorName</h2>

<a href='/orders/new'>Add order</a>
<a href='/orders'>View orders</a>
<a href='/vendors/new'>Add another vendor</a>
<a href='/vendors'>View all vendors</a>